.App {
  cursor: default;
  text-align: center;
  user-select: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

h3 {
  font-weight: 100;
}

img {
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
